body{
    background-color: white;
}
div.main{
    color: rgb(0, 0, 0);
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
}

@keyframes slideFadeInFromRight {
    0% {
      transform: translateX(100%);
      opacity: 0%;
    }
    100% {
      transform: translateX(0%);
      opacity: 100%;
    }
  }
div.content-header{
    display: inline-block;
    width: 50%;
    cursor: pointer;
}
div.content-header:hover{
    color: gold;
}
.left{
    width: 50%;
    display: inline-block;
    float: left;
}
.right-animation{
    animation: 2s ease-out 0s 1 slideFadeInFromRight;
}
.right{
    width: 50%;
    display: inline-block;
}
.image{
    float: right;
    width: 600px;
    height: 600px;
}

.content-top{
    font-size: 20px;
}

@media all and (max-width:800px){

    div.left{
        display: block;
        width: 100%;
        margin-bottom: 20px;
    }
    div.right{
        display: block;
        width: 100%;
    }
    .image{
        float: none;
        width: 400px;
        height: 400px;
    }
    @keyframes slideFadeInFromRight {
        0% {
          transform: translateY(100%);
          opacity: 0%;
        }
        100% {
          transform: translateY(0%);
          opacity: 100%;
        }
      }
}