body{
    background-color: white;
}
div.main{
    color: rgb(0, 0, 0);
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
}

@keyframes slideFadeInFromRight {
    0% {
      transform: translateX(100%);
      opacity: 0%;
    }
    100% {
      transform: translateX(0%);
      opacity: 100%;
    }
  }
div.content{
    display: none;
    width: 40%;
    height: 500px;
    font-size: 20px;
    animation: 6s ease-out 0s 1 slideInFromRight;
}
div.content-header{
    display: inline-block;
    width: 50%;
    cursor: pointer;
}
div.content-header:hover{
    color: gold;
}
.left{
    width: 50%;
    display: inline-block;
    float: left;
}
.right-animation{
    animation: 3s ease-out 0s 1 slideFadeInFromRight;
}
.right{
    width: 50%;
    display: inline-block;
}
