body{
    background-color: white;
}
div.main{
    color: black;
}

div.main-header{
    font-size: 30px;
    font-weight: 600;
    text-decoration: underline;
    text-transform: capitalize;
    font-size: 23px;
}
div.content div.item{
    width: 50%;
    float: left;
    padding-bottom: 10px;
}

div.content div.item div.header{
    font-size: 20px;
    font-weight: 550;
    /* color: gold; */
}
div.content div.item div.header a{
    text-decoration: none;
    /* color: gold; */
    color: #000000;
}
div.content div.item div.header a:hover{
    /* color:#000000; */
    color: gold;
}
.content-header{
    font-size: 30px;
}
.exp-time, .role{
    color: rgb(106, 106, 106);
}

.right-content{
    padding-right: 25px;
}

.image{
    width: 300px;
    height: 300px;
}
.main-contentbox{
    display:inline-block;
    width: 100%;
    margin-bottom: 20px;
}
.outside{
    color: white;
    background-color: black;
    width: 75%;
    padding-left: 12.5%;
    padding-right: 12.5%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.project-links{
    text-decoration: none;
    font-size: 13px;
    /* text-transform: uppercase; */
    color: gold;
}
.project-links:hover{
    color: white
}
.header-link{
    color: #000000;
}
.header-link:hover{
    color: gold;
}
@media all and (max-width:800px){
    div.content div.item{
        width: 100%;
        float: none;
        display: block;
    }
    div.content div.item div.header{
        font-size: 16px;
    }
    div.content div.item {
        padding-bottom: 20px;
    }
    .right-content{
        font-size: 14px;
    }
    .exp-time, .role{
        font-size: 12px;
    }
    .content-top{
        font-size: 14px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    div.main-header{
        font-size: 20px;
    }
    div.content-header{
        font-size: 25px;
    }
    .image{
        width: 180px;
        height: 180px;
        /* display: none; */
    }
}