@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&display=swap');

body{
    margin: 0px;
    background-color: rgb(37, 36, 36);
    /* font-family :Verdana, Geneva, Tahoma, sans-serif; */
    /* font-family: sans-serif; */
    /* font-family: script; */
    /* font-family: display; */
    /* font-family: helvetica; */
    font-family: Montserrat,'Montserrat Alternates',sans-serif;
}
nav.nav{
    background-color: rgb(33, 31, 31);
    height: 50px;
    text-align: center;
}

nav.nav div.links{
    display: inline-block;
    /* margin-left: 30px; */
    /* width: 80px; */
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 600;
    text-transform: uppercase;
    /* background-color: #FFD700; */
}

nav.nav a{
    color: white;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
}

nav.nav a.active{
    color: #FFD700;
}

nav.nav a:hover{
    color: #FFD700;
}

div.main{
    color: white;
    width: 75%;
    margin-left: 12.5%;
    margin-right: 12.5%;
    margin-top: 5%;
}

@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
}
@keyframes slideInFromRight {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
}

@keyframes slideFadeInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0%;
  }
  100% {
    transform: translateX(0%);
    opacity: 100%;
  }
}

@keyframes slideFadeInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0%;
  }
  100% {
    transform: translateX(0%);
    opacity: 100%;
  }
}
div.main-content{
    font-size: 40px;
    width: 100%;
    /* padding-bottom: 300px; */
    padding-bottom: 100px;
}

div.main-content div.line-right{
    animation: 3s ease-out 0s 1 slideInFromRight;
}

div.main-content div.line-left{
    animation: 3s ease-out 0s 1 slideInFromLeft;
}

.right-animation{
  animation: 1.5s ease-out 0s 1 slideFadeInFromRight;
}
.left-animation{
  animation: 1.5s ease-out 0s 1 slideFadeInFromLeft;
}

.image{
  float: right;
  width: 600px;
  height: 600px;
}

/* left */
div.left{
  width: 50%;
  display: inline-block;
  float: left;
}
/* right */
div.right{
  width: 50%;
  display: inline-block;
}

.content-top{
  font-size: 18px;
  padding-right: 20px;
}

div.content-header{
  display: inline-block;
  width: 100%;
  cursor: pointer;
}
div.content-header:hover{
  color: gold;
}
div.main-header{
  font-size: 30px;
  font-weight: 600;
  text-decoration: underline;
}
img.my-image{
  width: 250px;
  border-radius: 125px;
  filter: grayscale(100%);
}
div.sub-content{
  font-size: 40px;
  font-weight: 510;
  background-color: white;
  color: black;
  width: 75%;
  padding-left: 12.5%;
  padding-right: 12.5%;
  padding-top: 5%;
  padding-bottom: 300px;
}
div.about{
  font-size: 20px;
  margin-bottom: 20px;
}
div.email{
  display: inline;
  text-decoration: underline;
  word-wrap: break-word;
}
div.email:hover{
  color: #FFD700;
}
footer{
  height: 60px;
  background-color: black;
  width: 100%;
  color: white;
  text-align: center;
}
footer div.ftext{
  vertical-align: middle;
  line-height: 60px;
  text-decoration: none;
  text-align: center;
}

div.contact-nav{
  background-color: black;
}

a.contact-link{
  text-decoration: none;
  color: white;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}
a.contact-link:hover{
  color: gold;
}
@keyframes typing{
  from {width: 0}
  to {width: 100%}
}
.typed{
  white-space: nowrap;
  word-wrap: break-word;
  overflow: hidden;
  width: 0;
  animation: typing;
  animation-delay: 1.5s;
  animation-duration: 3.5s;
  animation-timing-function: steps(40,end);
  animation-fill-mode: forwards;
}
@media all and (max-width:800px){

  @keyframes slideFadeInFromRight {
    0% {
      transform: translateY(100%);
      opacity: 0%;
    }
    100% {
      transform: translateY(0%);
      opacity: 100%;
    }
  }

  @keyframes slideFadeInFromLeft {
    0% {
      transform: translateY(100%);
      opacity: 0%;
    }
    100% {
      transform: translateY(0%);
      opacity: 100%;
    }
  }

  div.left{
    display: block;
    width: 100%;
    
  }
  div.right{
      display: block;
      width: 100%;
  }
  .image{
      width: 350px;
      height: 350px;
  }
  div.main-header{
    font-size: 20px;
  }
  div.about{
    font-size: 14px;
  }
  div.sub-content{
    font-size: 25px;
  }
  div.main-content{
    padding-bottom: 50px;
    padding-top: 0px;
  }
  img.my-image{
    width: 50%;
    border-radius: 125px;
    filter: grayscale(100%);
    margin-left: 25%;
    margin-right: 25%;
  }
  
}